<div class="container-fluid h-100" style="background-image: url('https://p4.wallpaperbetter.com/wallpaper/190/421/301/grey-background-corporate-wallpaper-preview.jpg');">
  <button class="btn btn-dark mt-2" (click)="nuevoEmpleado()">Nuevo Empleado</button>
<div class="table-responsive">  
  <table class="table table-primary table-sm table-hover table-striped mt-5"  >
    <thead class="table">
      <tr>
        <th>Legajo</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha de Nacimiento</th>
        <th>Fecha de Ingreso</th>
        <th>Área</th>
        <th>Sueldo Bruto</th>
        <th>Antigüedad</th>
      </tr>
    </thead>
    <tbody class="table">
      <tr *ngFor="let empleado of empleados">
        <td scope="row">{{ empleado.legajo }}</td>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.apellido }}</td>
        <td>{{ empleado.fechaNacimiento | date:"dd/MM/yyyy" }}</td>
        <td>{{ empleado.fechaIngreso |date:"dd/MM/yyyy" }}</td>
        <td>{{ empleado.area }}</td>
        <td>{{ empleado.sueldoBruto | currency: "ARS"}}</td>
        <td>{{ empleado.antiguedad }}</td>
      </tr>
    </tbody>    
  </table>
</div>
</div>
